<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cart.length > 0" class="cart-items-count">
    Items in cart: {{ itemCount }}
  </div>

  <div *ngIf="cart.length === 0">Your cart is empty.</div>

  <div *ngFor="let item of cart" class="cart-item">
    <img [src]="item.imageUrl" width="60" alt="{{item.name}}" />

    <div class="cart-info">
      <b>{{ item.name }}</b>
      <div class="desc">{{ item.description }}</div>
    </div>

    <div class="price">${{ item.discountPrice || item.price }}
      <span *ngIf="item.quantity">× {{ item.quantity }}</span>
    </div>

    <!-- <div class="price">
      ${{ item.discountPrice || item.price }}
    </div> -->

    <div class="quantity-controls">
      <button (click)="decreaseQuantity(item.id)" [disabled]="(item.quantity ?? 1) <= 1">−</button>
      <span>{{ item.quantity ?? 1 }}</span>

      <button (click)="increaseQuantity(item.id)">+</button>
      <button class="remove-btn" (click)="remove(item.id)" aria-label="Remove Item">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </div>

  <div class="cart-total" *ngIf="cart.length">
    <b>Total: ${{ total }}</b>
  </div>
</div>