.cart-container {
  padding: 2rem;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 14px 0;
}

.cart-item img {
  margin-right: 20px;
}

.cart-item .price {
  min-width: 100px;
  text-align: right;
  font-weight: bold;
}

.cart-item button {
  margin-left: 24px;
  padding: 5px 15px;
  background: #e9548b;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.cart-item button:hover {
  background: #c44075;
}

.cart-total {
  margin-top: 1.7rem;
  font-size: 1.3rem;
}
