<header>
  <div class="Logo">
    <img src="#" alt="Shop Logo">
  </div>
  <nav>
    <div class="left-links">
      <a routerLink="/">Home</a>
      <a routerLink="/catalog">Catalog</a>
      <a routerLink="/cart" class="cart-icon">
        Cart
        <i class="bi bi-bag-heart-fill"></i>
        🛒
        <span *ngIf="(cartService.cartCount$ | async) as count">
          <span *ngIf="count > 0" class="cart-count">{{ (cartService.cartCount$ | async) || 0 }}</span>
        </span>
      </a>
    </div>


    <div class="auth-links">
      <ng-container *ngIf="auth.isLoggedIn() else showLinks">
        <button (click)=" logout()">Logout</button>
      </ng-container>
      <ng-template #showLinks>
        <a routerLink="/sign-in">Sign In</a>
        <a routerLink="/register">Register</a>
      </ng-template>
    </div>
  </nav>
</header>